**/vite.config.{js,ts,mjs,mts,cjs,cts}.timestamp*

node_modules

.nx/cache
.nx/workspace-data
build
.env

vite.config.*.timestamp*

dist

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
