@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --foreground-0: 210 10% 100%;
    --foreground-50: 210 10% 96%;
    --foreground-100: 210 30% 96%;
    --foreground-200: 220 18% 90%;
    --foreground-300: 219 15% 82%;
    --foreground-400: 220 11% 64%;
    --foreground-500: 221 8% 48%;
    --foreground-600: 222 11% 36%;
    --foreground-700: 221 16% 20%;
    --foreground-800: 227 17% 16%;
    --foreground-900: 226 21% 12%;
    --foreground-950: 222 32% 8%;

    --primary: 224.3 76.3% 58%;
    --primary-foreground: 0 0% 0%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --neutral-0: 210 10% 100%;
    --neutral-50: 0 0% 98%;
    --neutral-100: 210 30% 96%;
    --neutral-200: 220 18% 90%;
    --neutral-300: 219 15% 82%;
    --neutral-400: 220 11% 64%;
    --neutral-500: 221 8% 48%;
    --neutral-600: 222 11% 36%;
    --neutral-700: 221 16% 20%;
    --neutral-800: 227 17% 16%;
    --neutral-900: 226 21% 12%;
    --neutral-950: 222 32% 8%;
    --neutral: 0 0% 0%;
    --neutral-foreground: 0 0% 100%;

    --accent: 0 0% 96.1%;

    --border: 220 18% 90%;

    --destructive: 355 96% 60%;
    --destructive-foreground: 0 0% 100%;

    --success: 148 72% 44%;

    --warning: 20 100% 64%;

    --feature: 256 88% 64%;

    --information: 228 100% 60%;

    --highlighted: 330 96% 64%;

    --stable: 172 72% 48%;

    --alert: 42 92% 54%;

    --verified: 200 100% 64%;

    --input: 220 18% 90%;
    --ring: 217.2 91.2% 59.8%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 90.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* RADIUS */
    --radius: 0.5rem;
  }

  .dark,
  :root[class~="dark"] {
    --background: 240 5.9% 10%;
    --foreground: 210 40% 96.1%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --foreground-50: 240 4.8% 86%;
    --foreground-100: 240 4.8% 81%;
    --foreground-200: 240 4.8% 76%;
    --foreground-300: 240 4.8% 71%;
    --foreground-400: 240 4.8% 66%;
    --foreground-500: 240 4.8% 61%;
    --foreground-600: 240 4.8% 56%;
    --foreground-700: 240 4.8% 51%;
    --foreground-800: 240 4.8% 46%;
    --foreground-900: 240 4.8% 41%;
    --foreground-950: 240 4.8% 36%;

    --primary: 224.3 76.3% 48%;
    --primary-foreground: 240 4.8% 95%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 96.1%;

    --neutral-0: 240 5.9% 10%;
    --neutral-50: 240 5.9% 15%;
    --neutral-100: 240 5.9% 20%;
    --neutral-200: 240 5.9% 25%;
    --neutral-300: 240 5.9% 30%;
    --neutral-400: 240 5.9% 35%;
    --neutral-500: 240 5.9% 40%;
    --neutral-600: 240 5.9% 45%;
    --neutral-700: 240 5.9% 50%;
    --neutral-800: 240 5.9% 55%;
    --neutral-900: 240 5.9% 60%;
    --neutral-950: 240 5.9% 65%;
    --neutral: 0 0% 100%;
    --neutral-foreground: 0 0% 0%;

    --accent: 240 3.7% 15.9%;

    --border: 240 5.9% 25%;

    --destructive: 355 96% 40%;
    --destructive-foreground: 0 0% 100%;

    --success: 148 72% 34%;

    --warning: 20 100% 44%;

    --feature: 256 88% 44%;

    --information: 228 100% 40%;

    --highlighted: 330 96% 44%;

    --stable: 172 72% 38%;

    --alert: 42 92% 34%;

    --verified: 200 100% 44%;

    --input: 240 5.9% 15%;
    --ring: 224.3 76.3% 48%;

    --popover: 240 5.9% 10%;
    --popover-foreground: 240 4.8% 90.9%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 90.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 90.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border focus-visible:outline-primary scrollbar-track-transparent scrollbar-thin scrollbar-thumb-border scrollbar-thumb-rounded-full;
  }

  body {
    @apply font-sans bg-background text-foreground antialiased;
  }

  body,
  html {
    @apply h-full scroll-smooth;
  }
}
