@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';

:root {
  /* Base color hues */
  --hue-primary: 266deg;
  --hue-neutral: calc(var(--hue-primary) - 10deg);
  --hue-destructive: 15deg;
  --hue-success: 150deg;
  --hue-warning: 40deg;
  --hue-feature: 280deg;
  --hue-information: 250deg;
  --hue-highlighted: 330deg;
  --hue-stable: 185deg;
  --hue-alert: 90deg;
  --hue-verified: 210deg;

  /* Lightness levels - will be flipped in dark mode */
  --l-base: 1.00;
  /* Base lightness level, typically used for the lightest backgrounds */
  --l-surface: 0.96;
  /* Slightly darker than base, used for surfaces like cards */
  --l-subtle: 0.90;
  /* Subtle lightness, for less prominent elements */
  --l-element: 0.85;
  /* Lightness for UI elements like buttons */
  --l-medium: 0.55;
  /* Medium lightness, for emphasized elements */
  --l-emphasized: 0.45;
  /* Emphasized lightness, for important elements */
  --l-high: 0.25;
  /* High contrast lightness, for high emphasis elements */
  --l-intense: 0.15;
  /* Intense lightness, for very high contrast elements */
  --l-deepest: 0.08;
  /* Deepest lightness, typically used for the darkest elements */

  --l-primary: 0.5719;
  --c-primary: 0.1898;
  --hue-primary: 242deg;

  /* Base colors */
  --background: oklch(var(--l-base) 0.005 var(--hue-neutral));
  --foreground: oklch(var(--l-deepest) 0.02 var(--hue-neutral));

  --muted: oklch(var(--l-surface) 0.01 var(--hue-neutral));
  --muted-foreground: oklch(var(--l-emphasized) 0.02 var(--hue-neutral));

  /* Primary colors with consistent chroma */
  --primary: oklch(var(--l-primary) var(--c-primary) var(--hue-primary));
  --primary-foreground: oklch(var(--l-base) 0.01 var(--hue-neutral));

  /* Neutral scale using consistent chroma */
  --neutral: oklch(var(--l-medium) 0.05 var(--hue-neutral));
  --neutral-foreground: oklch(var(--l-base) 0 var(--hue-neutral));

  /* Semantic colors */
  --accent: oklch(var(--l-subtle) 0.015 var(--hue-neutral));
  --border: oklch(var(--l-subtle) 0.01 var(--hue-neutral));

  --destructive: oklch(var(--l-medium) 0.25 var(--hue-destructive));
  --success: oklch(var(--l-medium) 0.18 var(--hue-success));
  --warning: oklch(var(--l-medium) 0.18 var(--hue-warning));
  --feature: oklch(var(--l-medium) 0.22 var(--hue-feature));
  --information: oklch(var(--l-medium) 0.22 var(--hue-information));
  --highlighted: oklch(var(--l-medium) 0.25 var(--hue-highlighted));
  --stable: oklch(var(--l-medium) 0.18 var(--hue-stable));
  --alert: oklch(var(--l-medium) 0.18 var(--hue-alert));
  --verified: oklch(var(--l-medium) 0.25 var(--hue-verified));

  --input: oklch(var(--l-subtle) 0.01 var(--hue-neutral));
  --ring: oklch(0.55 0.2 var(--hue-primary));

  /* Component specific */
  --popover: oklch(var(--l-base) 0 var(--hue-neutral));
  --popover-foreground: oklch(var(--l-deepest) 0.02 var(--hue-neutral));

  --card: oklch(var(--l-base) 0 var(--hue-neutral));
  --card-foreground: oklch(var(--l-deepest) 0.02 var(--hue-neutral));

  /* Sidebar specific */
  --sidebar-background: oklch(var(--l-base) 0.005 var(--hue-neutral));
  --sidebar-foreground: oklch(var(--l-high) 0.02 var(--hue-neutral));
  --sidebar-primary: oklch(var(--l-deepest) 0.02 var(--hue-neutral));
  --sidebar-primary-foreground: oklch(var(--l-surface) 0.01 var(--hue-neutral));
  --sidebar-accent: oklch(var(--l-subtle) 0.02 var(--hue-neutral));
  --sidebar-accent-foreground: oklch(var(--l-deepest) 0.02 var(--hue-neutral));
  --sidebar-border: oklch(var(--l-subtle) 0.02 var(--hue-neutral));
  --sidebar-ring: oklch(0.55 0.2 var(--hue-primary));

  /* Scrollbar specific */
  --scrollbar-thumb: var(--border);
  --scrollbar-track: transparent;
  --scrollbar-thickness: 9px;
  --scrollbar-padding: 1.5px;
}

.dark,
:root[class~="dark"] {
  /* Invert lightness levels for dark mode */
  --l-base: 0.21;
  --l-surface: 0.28;
  --l-subtle: 0.33;
  --l-element: 0.35;
  --l-medium: 0.55;
  --l-emphasized: 0.58;
  --l-high: 0.78;
  --l-intense: 0.88;
  --l-deepest: 0.95;

  --primary-foreground: oklch(var(--l-deepest) 0.01 var(--hue-neutral));
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --shadow-*: initial;
  --shadow-xs: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
  --shadow-sm: 0px 1px 2px 0px #1018280f, 0px 1px 3px 0px #1018281a;
  --shadow-md: 0px 16px 32px -12px rgba(14, 18, 27, 0.1);
  --shadow: 0px 16px 32px -12px #0e121b1a;

  --color-*: initial;
  --color-black: black;
  --color-white: white;
  --color-transparent: transparent;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-blue: oklch(63.82% 0.1949 265.76);
  --color-purple: oklch(60.29% 0.1875 289.06);
  --color-yellow: oklch(86.76% 0.1949 93.18);

  --color-neutral: var(--neutral);
  --color-neutral-foreground: var(--neutral-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  /* Semantic colors */
  --color-accent: var(--accent);
  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-feature: var(--feature);
  --color-information: var(--information);
  --color-highlighted: var(--highlighted);
  --color-stable: var(--stable);
  --color-verified: var(--verified);
  --color-alert: var(--alert);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* Sidebar specific */
  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Card specific */
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  /* Highlighter specific */
  --color-highlighter: var(--primary);
  --color-highlighter-foreground: var(--primary-foreground);

  --animate-pulse-subtle: pulse-subtle 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-gradient: gradient 5s ease infinite;
  --animate-bounce-subtle: gentle-bounce 2s infinite;

  @keyframes gradient {

    0%,
    100% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }
  }

  @keyframes pulse-subtle {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.85;
    }
  }
  
  @keyframes gentle-bounce {
    0%, 100% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1); /* slow down at the bottom */
    }
    50% {
      transform: translateY(6px);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1); /* speed up on the way up */
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer base {
  * {
    @apply border-border focus-visible:outline-primary;
  }

  body {
    @apply font-sans bg-background text-foreground antialiased scroll-smooth;
    overflow: hidden;
  }
}


/* START SCROLLBAR STYLES */
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}

:root {
  --scrollbar-corner: var(--scrollbar-track);
  --scrollbar-width: var(--scrollbar-thickness);
  --scrollbar-height: var(--scrollbar-thickness);
  --scrollbar-radius: calc(var(--scrollbar-thickness) / 2);
  --scrollbar-thumb-radius: var(--scrollbar-radius);
  --scrollbar-track-radius: var(--scrollbar-radius);
  --scrollbar-corner-radius: var(--scrollbar-radius);
}

@layer base {
  * {
    @apply scrollbar;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);

    /* Ensures the scrollbar thumb is correctly padded in Webkit browsers */
    ::-webkit-scrollbar-thumb {
      border: var(--scrollbar-padding) var(--scrollbar-track) solid;
      background-clip: padding-box;
    }
  }

  ::selection {
    @apply bg-highlighter text-highlighter-foreground;
  }
}

/* END SCROLLBAR STYLES */
