# fly.toml app configuration file generated for taucad-api on 2025-02-23T02:55:24+13:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'taucad-api'
primary_region = 'syd'

[build]
  dockerfile = 'Dockerfile'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
