# fly.toml app configuration file generated for tau-api on 2025-02-25T12:43:15+13:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tau-api'
primary_region = 'syd'

[build]
  dockerfile = 'Dockerfile'

[env]
  NODE_ENV = 'production'
  TAU_FRONTEND_URL='https://taucad.dev'
  LANGSMITH_TRACING=true
  LANGSMITH_ENDPOINT='https://api.smith.langchain.com'
  LANGSMITH_PROJECT='tau-api-dev'
  AUTH_URL='https://api.taucad.dev'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
