# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Deploy UI to Fly
on:
  push:
    branches:
      - main
    paths:
      - 'apps/ui/**'
      - '.github/workflows/fly-deploy-ui.yml'

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group    # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only --config apps/ui/fly.toml --dockerfile apps/ui/Dockerfile
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
